.Login-container {
    width: 1440px;
    height: 914px;
}

.Login-logo {
    width:  81px;
    height: 81px;
    position: absolute;
    margin: 221px 710px 722px 650px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/contact2.png");
}

.Login-login_button {
    width:  173px;
    height: 63px;
    position: absolute;
    margin: 560px 654px 401px 613px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/login_button.png");
}

.Login-logout_button {
    width:  173px;
    height: 63px;
    position: absolute;
    margin: 600px 654px 361px 613px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/logout_button.png");
}

.Login-goto_button {
    width:  173px;
    height: 63px;
    position: absolute;
    margin: 500px 654px 461px 613px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/goto_myacc.png");
}

.Login-register {
    width:  406px;
    height: 43px;
    position: absolute;
    margin: 647px 530px 334px 504px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/register.png");
}

.Login-status {
    width: 1440px;
    height: 79px;
    position: absolute;
    margin: 835px 0px 0px 0px;
    padding-right: 0px;
    background-size: contain;
    background-repeat: repeat;
    background-image: url("../../public/mainpage/bottom_info.png");
}

input[type=text].log{
    width:  556px;
    height: 57px;
    position: absolute;
    margin: 350px 453px 617px 432px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 26px;
}

input[type=password].log{
    width:  556px;
    height: 57px;
    position: absolute;
    margin: 455px 453px 512px 432px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 26px;
}

.Login-success {
    width: 525px;
    height: 123px;
    position: absolute;
    margin: 323px 422px 578px 493px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/login_succ.png");
}