p {
    display: inline
}
.Login-container {
    width: 1440px;
    height: 914px;
}
.Login-container-inner{
    background: rgba(240,248,255,0.9);
    height: 300px;
    width: 500px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    vertical-align: center;
    border-radius: 10px;
}

.Login-logo {
    width:  50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 46%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/contact2.png");
}

.Login-login_button {
    width: 120px;
    position: absolute;
    top: 70%;
    left: 40%;
}

.login-suscess{
    position: absolute;
    top:35%;
    left:44%;
}

.Myacc_button{
    position: absolute;
    top:50%;
    left:39%;
    width: 120px;
}

.Login-logout_button {
    position: absolute;
    left: 39%;
}

.Login-goto_button {
    width:  173px;
    height: 63px;
    position: absolute;
    margin: 500px 654px 461px 613px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/goto_myacc.png");
}

.Login-register {
    color: gray;
    font-size: smaller;
    top: 85%;
    left: 10%;
    width:  406px;
    height: 43px;
    position: absolute;
}

.Login-status {
    width: 1440px;
    height: 79px;
    position: absolute;
    margin: 835px 0px 0px 0px;
    padding-right: 0px;
    background-size: contain;
    background-repeat: repeat;
    background-image: url("../../public/mainpage/bottom_info.png");
}

input[type=text].log{
    top: 30%;
    left: 28%;
    font-family: "Times New Roman", SimSun;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

input[type=password].log{
    top: 50%;
    left: 28%;
    font-family: "Times New Roman", SimSun;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
}

.Login-success {
    width: 525px;
    height: 123px;
    position: absolute;
    margin: 323px 422px 578px 493px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/login_succ.png");
}