.Register-container {
    width: 1440px;
    height: 914px;
}

.Register-logo {
    width:  81px;
    height: 81px;
    position: absolute;
    margin: 221px 710px 722px 650px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/contact2.png");
}

.Register-Register_botton {
    width:  173px;
    height: 63px;
    position: absolute;
    margin: 665px 654px 296px 613px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/Register_botton.png");
}

.Register-status {
    width: 1440px;
    height: 79px;
    position: absolute;
    margin: 835px 0px 0px 0px;
    padding-right: 0px;
    background-size: contain;
    background-repeat: repeat;
    background-image: url("../../public/mainpage/bottom_info.png");
}

input[type=text].regi{
    width:  556px;
    height: 57px;
    position: absolute;
    margin: 350px 453px 617px 432px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password].first{
    width:  556px;
    height: 57px;
    position: absolute;
    margin: 455px 453px 512px 432px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password].second{
    width:  556px;
    height: 57px;
    position: absolute;
    margin: 560px 453px 407px 432px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}