.Register-container {
    width: 1440px;
    height: 914px;
}

.Register-container-inner{
    background: rgba(240,248,255,0.9);
    height: 400px;
    width: 500px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    vertical-align: center;
    border-radius: 10px;
}

.Register-logo {
    width:  50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 46%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/login/contact2.png");
}

.Register-Register_button {
    width: 120px;
    position: absolute;
    top: 85%;
    left: 40%;
}

.Register-status {
    width: 1440px;
    height: 79px;
    position: absolute;
    margin: 835px 0px 0px 0px;
    padding-right: 0px;
    background-size: contain;
    background-repeat: repeat;
    background-image: url("../../public/mainpage/bottom_info.png");
}

input[type=text].regi{
    top: 25%;
    left: 28%;
    font-family: "Times New Roman", SimSun;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: center;
}

input[type=text].email{
    top: 40%;
    left: 28%;
    font-family: "Times New Roman", SimSun;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: center;
}

input[type=password].first{
    top: 55%;
    left: 28%;
    font-family: "Times New Roman", SimSun;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: center;
}

input[type=password].second{
    top: 70%;
    left: 28%;
    font-family: "Times New Roman", SimSun;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: center;
}