p {
    display: inline
}

.NewPostFirstInput-input,
.NewCommentInput-button,
.NewPostInput-input,
.NewPostInput-button {
    font-family: "Times New Roman", SimSun;
    font-size: 14px;
    padding: var(--s) var(--m);
    white-space: pre-wrap;
}

.NewPostFirstInput-input {
    font-family: SimSun;
    flex-grow: 1;
    border: var(--darkgrey) 1px solid;
    border-radius: 10px;
    transition: box-shadow 0.1s;
    white-space: pre-wrap;
}

.NewPostInput-input {
    font-family: SimSun;
    flex-grow: 1;
    border: var(--darkgrey) 1px solid;
    border-radius: 10px 0px 0px 10px;
    transition: box-shadow 0.1s;
    white-space: pre-wrap;
}

.NewPostInput-input:focus-within {
    border-color: var(--primary--dim);
    box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewPostContentInput-input {
    font-size: 16px;
    text-align: center;
    width: 80%;
    border-radius: 5px;
}

.NewCommentInput-button,
.NewPostInput-button {
    color: var(--primary);
    border: var(--primary) 1px solid;
    background: none;
    transition: color 0.1s, background 0.1s;
}

.NewCommentInput-button:hover {
    color: var(--white);
    background-color: var(--primary);
}

.NewPostInput-button:hover {
    color: var(--white);
    background-color: var(--primary);
}

.NewPostFirstInput-input,
.NewTeamPostInput {
    font-family: "Times New Roman", SimSun;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
}

.TeamPostFormItem {
    text-align: center;
}

.NewTeamPostInput-container {
    background: rgba(240,248,255,0.9);
    height: auto;
    width: auto;
    vertical-align: center;
    border-radius: 10px;
}

.NewCommentInput-button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.NewPostInput-button {
    border-radius: 10px;
}

@charset "utf-8";



